body {
	font-family: sans-serif;
	font-size: 16px;
	color: #333;
	margin-top: 32px;
	margin-left: 32px;
}

header {
	display: block;
	border-bottom: 1px dotted #ccc;
}

header>h1 {
	text-transform: capitalize;
	margin-bottom: 8px;
}

.trackList {
	margin-left: 0px;
	padding-left: 0px;
}		

.trackList li {
	border: 1px solid #ddd;
	background: #f4f4f4;
	margin-bottom: 4px;
	border-radius: 4px;
	padding: 4px 16px;
	width: 480px;
	list-style-type:none;
	font-size: 14px; 
}

.sideAvatar {
	float: right;
	-moz-box-shadow: 1px 1px 3px #888; 
	-webkit-box-shadow: 1px 1px 3px #888; 
	box-shadow: 1px 1px 3px #888; 
}

time {
	color: #888;
	font-size: 12px;
	font-style: italic;
}

.listHolder {
	width: 480px;
}

div.pagination {
	text-align: center;
	color: #888;
	font-size: 12px;
}