body {
    padding: 0px;
}

#map {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#history {
	border-radius: 8px;
	padding: 16px;
    position: absolute;
    right: 8px;
    top: 16px;
    height: 60%;
    overflow-y: auto;
    background: white;
    z-index: 1;
}

#history-throbber, #history-refresh {
	text-align: center;
}

#info {
	border-radius: 8px;
	padding: 16px;
    position: absolute;
    right: 8px;
    bottom: 32px;
    height: 220px;
    background: white;
    z-index: 1;
}

.infoHeader {
    font-weight: bold;
}

#trackInfo {
    height: 100%;
}

.weather {
	width: 32px;
	height: 28px;
	float: right;
	/*border: 1px solid #ddd;*/
	background: #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 12px 4px 4px 4px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
}

.temperature {
	opacity: 0.8;
}