<html>
    <head>
        <title>{{ track.name }} - Gypsum</title>
        
        <style type="text/css">
            body {
                font-family: sans;
            }
            
            #info {
                position: absolute;
                right: 32px;
                bottom: 32px;
                /*width: 160px;*/
                background: white;
                opacity: 0.7;
                z-index: 1;
            }
            
            .infoHeader {
                font-weight: bold;
            }
        </style>
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css"/>
        
        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script type="text/javascript">
          var map;
          
          $(document).ready(function() {
            var latlng = new google.maps.LatLng(57.8, 11.9);
            var myOptions = {
              zoom: 8,
              center: latlng,
              mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            map = new google.maps.Map(document.getElementById("map"), myOptions);
          
            $(function() {
              $("#trackInfo").tabs();
            });
            
            $.getJSON('positions', function(data) { displayTrackData(data); });
          });
          
          function displayTrackData(data) {
            $("#trackName").text(data['name']);
            $("#trackDistance").text((Math.round(data['distance'] * 100) / 100).toFixed(2) + " km");
            $("#trackDuration").text(data['duration']);
            $("#trackCreationTime").text(data['created_time']);
                              
            positions = data['positions'];
            var points = []
            var bounds = new google.maps.LatLngBounds();
            $.each(positions, function(index, position) {
                var latlng = new google.maps.LatLng(position.fields.latitude, position.fields.longitude);
                bounds.extend(latlng);
                points.push(latlng);
            });
            
            var path = new google.maps.Polyline({
                path: points,
                strokeColor: '#ff0000',
                strokeOpacity: 0.6,
                strokeWeight: 6
            });
            
            path.setMap(map);
            map.fitBounds(bounds);
          }
        </script>
    </head>
    <body>
        <div id="info">
            <div id="trackInfo">
                <ul>
                    <li><a href="#trackInfo-Overview">Overview</a></li>
                    <li><a href="#trackInfo-Pace">Pace</a></li>
                    <li><a href="#trackInfo-Elevation">Elevation</a></li>
                </ul>
                <div id="trackInfo-Overview">
                    <table>
                        <tr>
                            <td class="infoHeader">Name:</td>
                            <td id="trackName"></td>
                        </tr>
                        <tr>
                            <td class="infoHeader">Distance:</td>
                            <td id="trackDistance"></td>
                        </tr>
                        <tr>
                            <td class="infoHeader">Time:</td>
                            <td id="trackDuration"></td>
                        </tr>
                        <tr>
                            <td class="infoHeader">Saved:</td>
                            <td id="trackCreationTime"></td>
                        </tr>
                    </table>
                </div>
                <div id="trackInfo-Pace">Pace</div>
                <div id="trackInfo-Elevation">Elevation</div>
            </div>
        </div>
        <div id="map" style="width: 100%; height: 100%"></div>
    </body>
</html>

