<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gypsum</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}/js/libs/leaflet-0.4.4/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href='{{ STATIC_URL}}/js/libs/leaflet-iconlabel/leaflet.iconlabel.css'/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}/js/jam/bootstrap/css/bootstrap.min.css"/>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript" data-main="{{ STATIC_URL }}/js/main" src="{{ STATIC_URL }}/js/jam/require.js"></script>
        <!--<script src='{{ STATIC_URL}}/js/jam/bootstrap/js/bootstrap-tab.js'></script>-->
        <script src='{{ STATIC_URL}}/js/libs/leaflet-0.4.4/leaflet.js'></script>
        <script src='{{ STATIC_URL}}/js/libs/leaflet-iconlabel/leaflet.iconlabel.js'></script>
        <script src='{{ STATIC_URL}}/js/libs/wax-4.1.8-0/wax.leaf.min.js'></script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Gypsum</a>
                <ul class="nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Link</a></li>
                    <li><a href="#">Link</a></li>
                </ul>

                <div class="pull-right">
                    <div id="login-control">
                        <form class="form-inline">
                            <input type="text" class="input-small" placeholder="Username">
                            <input type="password" class="input-small" placeholder="Password">
                            <button id="login-button" class="btn" type="button">Sign in</button>
                        </form>
                    </div>
                    <div id="logged-in-control" class="hide">
                        Signed in as <em><span id="username"></span></em>
                        <button id="logout-button" class="btn">Sign out</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="history" class="span6 hide">
            <div id="history-table-wrapper"></div>
            <div id="history-throbber" class="hide">
                <img src="{{ STATIC_URL }}/images/throbber.gif" alt="Loading" />
                Loading...
            </div>
            <div id="history-refresh" class="hide">
                <button id="history-refresh-button" class="btn">More...</button>
            </div>
        </div>
        <div id="info" class="span6 hide">
        </div>
        <div id="map"></div>
    </body>
</html>

