<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Gypsum</title>

        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}/style.css"/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}/js/libs/leaflet-0.4.4/leaflet.css"/>
        <link rel="stylesheet" type="text/css" href='{{ STATIC_URL}}/js/libs/leaflet-iconlabel/leaflet.iconlabel.css'/>
        <link rel="stylesheet" type="text/css" href='{{ STATIC_URL}}/js/libs/leaflet-draw/leaflet.draw.css'/>
        <link rel="stylesheet" type="text/css" href="{{ STATIC_URL}}/js/jam/bootstrap/css/bootstrap.min.css"/>

        <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
        <script type="text/javascript" data-main="{{ STATIC_URL }}/js/main" src="{{ STATIC_URL }}/js/jam/require.js"></script>
        <!--<script src='{{ STATIC_URL}}/js/jam/bootstrap/js/bootstrap-tab.js'></script>-->
        <script src='{{ STATIC_URL}}/js/libs/leaflet-0.4.4/leaflet.js'></script>
        <script src='{{ STATIC_URL}}/js/libs/leaflet-iconlabel/leaflet.iconlabel.js'></script>
        <script src='{{ STATIC_URL}}/js/libs/leaflet-draw/leaflet.draw.js'></script>
        <script src='{{ STATIC_URL}}/js/libs/wax-4.1.8-0/wax.leaf.min.js'></script>
        <script>
        {% if user.is_authenticated %}
            window.currentLogin = {username: "{{ user.username }}", id: "x"};
        {% else %}
            window.currentLogin = null;
        {% endif %}
        </script>
    </head>
    <body>
        <div class="navbar">
            <div class="navbar-inner">
                <a class="brand" href="#">Gypsum</a>
                <div id="logged-in-menu" class="hide">
                    <ul class="nav">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#upload">Upload</a></li>
                        <li><a href="#add-track">Add track</a></li>
                    </ul>
                </div>
                <form id="add-track-control" class="form-inline hide">
                    <input type="text" class="input-small" placeholder="Track name">
                    Length: <span id="track-length"></span> km
                    <button id="add-track-button" class="btn" type="button">Add</button>
                </form>

                <div class="pull-right">
                    <div id="login-control">
                        <form class="form-inline">
                            <input type="text" class="input-small" placeholder="Username">
                            <input type="password" class="input-small" placeholder="Password">
                            <button id="login-button" class="btn" type="button">Sign in</button>
                        </form>
                    </div>
                    <div id="logged-in-control" class="hide">
                        Signed in as <em><span id="username"></span></em>
                        <button id="logout-button" class="btn">Sign out</button>
                    </div>
                </div>
            </div>
        </div>
        <div id="history" class="panel span6 hide">
            <div id="history-table-wrapper"></div>
            <div id="history-throbber" class="hide">
                <img src="{{ STATIC_URL }}/images/throbber.gif" alt="Loading" />
                Loading...
            </div>
            <div id="history-refresh" class="hide">
                <button id="history-refresh-button" class="btn">More...</button>
            </div>
        </div>
        <div id="info" class="panel span6 hide">
        </div>
        <div id="upload-track-modal" class="modal hide fade">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Upload tracks</h3>
            </div>
            <div class="modal-body">
                <form id="upload-track-form" enctype="multipart/form-data">
                    <input type="hidden" name="only_newer" value="0"/>
                    <input name="track_data" type="file" />
                    <input id="upload-track-button" type="button" value="Upload" />
                </form>
                <progress class="hide"></progress>
                <div id="upload-result" class="alert alert-success hide"></div>
            </div>
        </div>
        <div id="map"></div>
    </body>
</html>

