{% extends "base.html" %}
{% block title %}{{ user.get_full_name }}'s timeline - Gypsum{% endblock %}
{% block head %}
        <link rel="stylesheet" type="text/css" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/base/jquery-ui.css"/>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/jquery-ui.min.js"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $("#accordion").accordion({ autoHeight: false });
            });
        </script>
{% endblock %}
{% block content %}
     <h1>{{ user.get_full_name }}'s timeline</h1>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

     <div id="accordion">
     {% for month in months %}
         <h3>
             <a href="#">{{ month.year }}-{{ month.month }} -
             {% for activity,record in month.activities.items %}
                 <em><img src="{{ activity.icon_url }}" alt="{{ activity.name }}" title="{{ activity.name }}"/> {{ record.distance|floatformat:0 }} km</em>
             {% endfor %}
             </a>
         </h3>
         <div>
             <ul>
             {% for activity,record in month.activities.items %}
                 <li><img src="{{ activity.icon_url }}" alt="{{ activity.name }}" title="{{ activity.name }}"/>
                     <ul class="trackList">
                         {% for track in record.tracks %}
                             <li><a href="{{ track.get_absolute_url }}">{{ track.date }}</a> - {{ track.distance|floatformat:1}} km, {{ track.get_duration_string }} ({{ track.get_pace_string }})</li>
                         {% endfor %}
                     </ul>
                 </li>
             {% endfor %}
             </ul>
         </div>
     {% endfor %}
     </div>
{% endblock %}
